# ========================
# Python & Окружение
# ========================
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/

# ========================
# Конфигурации и секреты
# ========================
.env
.env.*
!.env.example  # Шаблон оставляем в репозитории!

# ========================
# Тестирование и линтеры (Pytest, Mypy, Ruff)
# ========================
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.ruff_cache/

# ========================
# Базы данных и кэш
# ========================
# Файлы локальных БД (если вдруг будем использовать sqlite для тестов)
*.db
*.sqlite3
# Celery
celerybeat-schedule
celerybeat.pid

# ========================
# IDE и ОС
# ========================
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db