
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/

.env
.env.*
!.env.example  # Шаблон оставляем в репозитории!


.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.ruff_cache/


*.db
*.sqlite3
# Celery
celerybeat-schedule
celerybeat.pid

.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db